body{
  margin: 0;
  height: 100%;
  width: 100%;
}

h1{
  text-align: center;
}

nav {
  text-align: center;
}

nav a{
  background-color: rgba(141, 135, 135, 0.589);
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption{
  font-size: 12px;
  text-align: center;
}

p{
  text-align: center;
 

}

#details div{
  float: left;
  background-color: red;
  width: 25%;
  text-align: center;
} 